header {
    text-align: center;
    background-attachment: inherit;
    background-image: url(maze.png);
    background-position: inherit;
    background-repeat: inherit;
    background-position: center;
    -webkit-background-size: center;
    -moz-background-size: center;
    background-size: center;
    -o-background-size:  center;
    
}
.backgrd{
    filter: alpha(opacity=20);
    opacity: .8;
     margin-top:-70%;
     -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: "FlipH";
    filter: FlipH;
    opacity: .7;
    filter: sepia(100%) blur(0.7px);
    -webkit-filter: sepia(100%) blur(0.7px);
    -moz-filter: sepia(100%) blur(0.7px);
    -o-filter: sepia(100%) blur(0.7px);
    -ms-filter: sepia(100%) blur(0.7px);
  
    
}

.backgrd:hover{
 
    filter: blur(2px);
    -webkit-filter: blur(2px) sepia(100%);
    -moz-filter: blur(2px) sepia(100%);
    -o-filter: blur(2px) sepia(100%);
    -ms-filter: blur(2px) sepia(100%);
}



.headersection{
    padding-top: 30%;
}
.header-align{
    margin-top:80%;
}
.button-align{
    float: left;
    margin-top: 40%;
}

.headertext{
    font-family: 'Pacifico', cursive;
    color:gray;
    border-radius: 50px;
    background-color: rgba(255,255,255,.3);
}


ul li {
    margin-right: 10px;
}
hr.style-two {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

hr.style-eight {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.style-eight:after {
    content: "§";
    display: inline-block;
    position: relative; 
    top: -0.7em;  
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

/*STARTUP ANIMATION*/
.animated { 
    -webkit-animation: pulse;
    -webkit-animation-duration: 1.5s; 
    animation: pulse;
    animation-duration: 1.5s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
}

@-webkit-keyframes pulse { 
    0% { -webkit-transform: scale(1); } 
    50% { -webkit-transform: scale(1.2); } 
    100% { -webkit-transform: scale(1); } 
} 
@keyframes pulse { 
    0% { transform: scale(1); } 
    50% { transform: scale(1.2); } 
    100% { transform: scale(1); } 
} 
.pulse { 
    -webkit-animation-name: pulse; 
    animation-name: pulse; 
}
@-webkit-keyframes fadeIn { 
    0% {opacity: 0;} 
    100% {opacity: 1;} 
} 
@keyframes fadeIn { 
    0% {opacity: 0;} 
    100% {opacity: 1;} 
} 
.fadeIn { 
    -webkit-animation-name: fadeIn; 
    animation-name: fadeIn; 
}
/*STARTUP ANIMATION*/

